<div class="card rounded-0  border border-primary ">
  <img class="card-img-top rounded-0" [src]="tweet.twitter_content.imageurl"
       [alt]="tweet.twitter_content.title"/>

  <div class="card-body">
    <h5 class="card-title"><a href="" [routerLink]="['/',tweet.slug]">{{tweet.twitter_content.title}}</a></h5>
    <p>
      <small class="text-muted">{{tweet.twitter_content.createdAt}}</small>
    </p>
    <app-card-category [categories]="tweet.twitter_category"></app-card-category>
    <p class="card-text">{{tweet.twitter_content.content}}</p>
  </div>
</div>
